#BookProfile { position: relative; z-index: 1; }
#BookProfile .card .book { margin-bottom: 10px; }
#BookProfile .own.review .row { opacity: .3; transition: all .4s ease-in-out; }
#BookProfile .own.review:hover .row { opacity: 1; }
#BookProfile .book-profile .rating { display: flex; align-items: center; }
#BookProfile .book-profile .rating .react-rater { font-size: 1.4rem; }

.select-isbn {
  -webkit-appearance: none;
  border-color: transparent;
  border-radius: var(--radius);
  background-color: transparent;
  padding: 2px 5px;
  margin-left: -6px;
  cursor: pointer;
}
.select-isbn:hover {
  border-color: rgba(0, 0, 0, .1);
}

@media ( max-width: 768px ) {
  #BookProfile .book-profile .rating { display: block; }
  /* #BookProfile .book-profile .rating .react-rater { font-size: 1.4rem; } */
}

@media ( max-width: 420px ) {
  #BookProfile .book-profile .user.rating .react-rater { font-size: 2.3rem; line-height: inherit; }
  #BookProfile .book-profile .user.rating .label { display: none; }
}

@media ( pointer: coarse ) {
  #BookProfile .book-profile .user.rating .react-rater { font-size: 2.3rem; }
  #BookProfile .book-profile .user.rating .label { display: none; }
}