:root {
    /* http://www.material-ui.com/#/customization/colors */
    --cyan500: rgb(0, 188, 212); /* primary clearer */
    --cyan600: rgb(0, 172, 193); /* primary clear */
    --cyan700: rgb(0, 151, 167); /* primary */
    --cyan800: rgb(0, 131, 143); /* primary dark */
    --orange600: rgb(251, 140, 0); /* accent, alert */
    --blueGrey900: rgb(38, 50, 56); /* canvas */
    --blueGray801: rgb(50, 67, 78); /* dark paper */
    --mainBackground: var(--blueGrey900);
    --cardBackgroundColor: var(--mainBackground);
    --green600: rgb(67, 160, 71); /* success */
    --red500: rgb(244, 67, 54); /* error */
    --booksPerRow-lg: 7;
    --shelf-rowHeight: 224px;
    --bookWidth: 140px;
    --skltn-bg: rgba(0,10,20,.15);
    --ContrastedTextColor: #fff;
    --mainTextColor: rgba(230,250,255,.7);
    --ligthTextColor: rgba(230,250,255,.5);
    --linkColor: var(--cyan600);
    --linkColorHover: var(--cyan500);
    --linkColorActive: var(--cyan700);
}

html {
    background: var(--mainBackground);
    color: #eee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 { margin-top: .5rem; margin-bottom: .5rem; font-weight: 400; color: var(--cyan600); }
p { margin-top: 0; margin-bottom: .5rem; font-weight: 300; }
p:last-child { margin-bottom: 0; }

.info-row { margin-bottom: .5rem; }
.info-row:last-child { margin-bottom: 0; }
.info-row.centered { text-align: center; }
.card .info-row.footer { display: block; }
.info-row .btn { margin-top: 0; margin-bottom: 0; }

.link {
    display: inline;
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

a, .link { text-decoration: none; color: var(--linkColor); outline: none; transition: all .2s ease-in-out; }
a:hover, .link:hover { color: var(--linkColorHover); }
a:active, .link:active { color: var(--linkColorActive); }
a.active, .link.active { color: var(--orange600); }

svg { vertical-align: text-bottom; color: currentColor !important; }

a [role="menuitem"] { color: inherit !important; }

hr.line {
    margin: 30px auto;
    border: 0;
    height: 2px;
    background-color: rgba(0,0,0,.07);
}

/* CARDS */
.card, .clear {
    --cardBackgroundColor: #fff;
    --ContrastedTextColor: #000;
    --mainTextColor: #212529;
    --ligthTextColor: #aaa;
    --linkColor: var(--cyan700);
    --linkColorHover: var(--cyan600);
    --linkColorActive: var(--cyan800);
    --skltn-bg: rgba(0,10,20,.06);
}
.card {
    position: relative;
    background-color: var(--cardBackgroundColor);
    color: var(--mainTextColor);
    padding: 24px;
    margin: 15px auto;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    will-change: opacity;
    animation: fadeIn .4s ease-out backwards;
}
.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 { color: var(--mainTextColor); }
.card .footer, .dialog .footer { 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-left: -24px;
    margin-bottom: -24px;
    padding: 24px;
}
.card .footer.no-gutter, .dialog .footer.no-gutter { padding: 0; }
.card-container { margin: auto; text-align: center; }
.card-container .card { max-width: 340px; }
.card-container .form-group { text-align: left; }
.card-container .sub-footer { font-size: .8rem; }

/* DARK */
.dark {
    --skltn-bg: rgba(0,10,20,.15);
    --ContrastedTextColor: #fff;
    --mainTextColor: rgba(230,250,255,.7);
    --ligthTextColor: rgba(230,250,255,.5);
    --linkColor: var(--cyan600);
    --linkColorHover: var(--cyan500);
    --linkColorActive: var(--cyan700);
    --cardBackgroundColor: var(--blueGray801);
}
.card.dark, .dark .card { 
    font-weight: 200; 
}

/* PRIMARY */
.primary {
    --linkColor: rgba(255, 255, 255, .9);
    --linkColorHover: rgba(255, 255, 255, 1);
    --linkColorActive: rgba(255, 255, 255, .8);
}
.card.primary {
    background-color: var(--cyan700);
}

/* BUTTONS */
.btn {
    display: inline-block;
    -webkit-appearance: none;
    outline: none !important;
    padding: 0 .8rem;
    margin: 3px auto;
    height: 36px;
    line-height: 36px;
    border: 0;
    border-radius: 3px;
    background-color: var(--cyan700);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    font-family: Roboto, sans-serif;
    color: rgba(255,255,255,.9);
    font-size: .9rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .2s ease-in-out 0s;
    will-change: transform;
    cursor: pointer;
} 
.btn:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    color: #fff;
}
.btn:active, .btn.active {
    transform: scale(.98)/*  translateY(1px) */;
    color: rgba(0,0,0,.3);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.btn:not(.centered) + .btn:not(.centered) { margin-left: 6px; }
.btn + .counter { margin-left: 15px; }
.btn.centered, .link.centered { display: block; }
.btn-footer {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    height: 44px;
    line-height: 44px;
    font-size: 1.15rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-footer, .btn-footer:hover, .btn-footer:active { box-shadow: none; transform: none; }

.btn.flat, .btn.flat.xs, .btn.flat.sm, .btn.flat.lg { background-color: transparent; box-shadow: none; color: var(--cyan600); }
.btn.flat:hover { background-color: rgba(0,0,0,.07); }
.btn.flat:active { color: rgba(0,0,0,.3); }

.btn.sm { padding-left: .6rem; padding-right: .6rem; font-size: .75rem; line-height: 26px; height: 26px; box-shadow: 0 1px 2px rgba(0,0,0,.2); }

.btn.primary { background-color: var(--cyan700); }
.btn.primary:hover { background-color: var(--cyan600); }
.btn.primary:active { background-color: var(--cyan800); }

.btn.neutral { background-color: rgba(0,0,0,.1); color: rgba(0,0,0,.4); }

.socialButtons > [class*="col-"] { padding-left: 4px; padding-right: 4px; }
.socialButtons > [class*="col-"]:first-child { padding-left: 15px; }
.socialButtons > [class*="col-"]:last-child { padding-right: 15px; }
.socialButtons button { float: left; width: 100%; margin: 3px 0; }
.btnFacebook { background-color: #39569C; }
.btnGoogle { background-color: #E24929; }
.btnTwitter { background-color: #00ACED; }

.btn:disabled, .btn:disabled:hover, .btn:disabled:active, .btn.disabled { 
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3); 
    box-shadow: none; 
    cursor: default; 
    user-select: none; 
    transform: none;
}
.btn.success, btn.success:hover, btn.success:active, .btn.success:disabled { background-color: var(--green600); color: #fff; }
.btn.error, btn.error:hover, btn.error:active, .btn.error:disabled, .btn.error-on-hover:hover { background-color: var(--red500); color: #fff; }
/* .btn.error-on-hover { min-width: 175px; } */

.btn svg { width: 18px; height: 18px; }
.btn.sm svg { width: 14px !important; height: 14px !important; }

/* CONTAINER */
.container .container { position: relative; padding-left: 0; padding-right: 0; }
.container-xs, .container-sm, .container-md { margin-left: auto; margin-right: auto; float: none; max-width: 100%; }
.container-xs { width: 320px; }
.container-sm { width: 420px; }
.container-md { width: 520px; }

/* PENDING */
.append {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0;
	margin-left: 0;
}
.prepend {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
}
.toppend {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-width: 0;
	margin-bottom: 0;
}
.bottompend {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
}
.pend {
	border-radius: 0 !important;
	margin-left: 0 !important; 
	margin-right: 0 !important;
	border-left-width: 0;
}
.middlepend {
	border-radius: 0 !important;
	margin: 0 !important; 
	border-bottom-width: 0;
}
.middlepend + .middlepend {
	border-left-width: 0;
}
.append.toppend {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.prepend.toppend {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.append.bottompend {
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.prepend.bottompend {
	border-top-left-radius: 0;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn.prepend, .btn.pend, .btn.append, .btn.toppend, .btn.bottompend { 
	line-height: 18px; 
	height: 36px; 
	margin-top: 0; 
	margin-bottom: 0; 
	padding-left: 8px; 
	padding-right: 8px;
}
.column-left.prepend, .column-left.pend, .column-left.append, .column-left.toppend, .column-left.bottompend, 
.column-right.prepend, .column-right.pend, .column-right.append, .column-right.toppend, .column-right.bottompend { margin-left: 0; margin-right: 0; }

.card.toppend + .card {
    border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
}

/* LOADING */
.dialog.loading:after, .card.loading:after, .loader { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    border-radius: 3px;
    border-radius: inherit;
    background-color: rgba(38, 50, 56, 0.8);
    padding: 20px;
    text-align: center;
    z-index: 3;
}

/* CUSTOM */
/*#appBarComponent { background-color: var(--cyan700) !important; box-shadow: 0 1px 3px rgba(0,0,0,.1) !important; }*/

#BookContainerComponent .content-background, #BookContainerComponent .content-background .bg { 
    position: absolute; 
    top: 60px; 
    left: 0; 
    width: 100%; 
    height: 200px; 
    overflow: hidden;
    background: var(--cyan800);
}

#BookContainerComponent .content-background .bg {
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.3) translateY(10px);
    opacity: .7;
    top: 0;
}
#BookContainerComponent .container.top { margin-top: 60px; }
#BookContainerComponent .container.top .book { margin-top: -60px; }

.placeholder { margin: auto; }

.auth-header { 
    position: relative;
    display: block; 
    padding: 16px; 
    background-color: var(--cyan700);
    color: #fff !important;
    overflow: hidden;
}
.auth-header .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.3);
    filter: blur(3px);
    opacity: .3;
}
.auth-header img { position: relative; vertical-align: middle; margin-right: 10px; margin-bottom: 10px; }
.auth-header .user-info { 
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    margin-top: 10px;
}
.auth-header .user-name { font-size: 1.15rem; }
.auth-header .user-email { font-size: .75rem; color: rgba(255,255,255,.7); }

.basic-profile .username {
    font-size: 1.8rem;
    line-height: 130%;
    margin-top: 0;
}
.basic-profile .email { color: var(--ligthTextColor); }

.counter { line-height: 2; }
.counter b { font-weight: 500; }
.counter:after {
    content: '|';
    display: inline-block;
    margin: 0 10px;
    color: rgba(195,200,205,.8);
    font-weight: 200;
}
.counter:last-child:after { content: none; }
.counter:empty { display: none; }
.dark .counter:after { color: rgba(240,250,255,.3); }

.counter.comma .counter:after {
    content: ',';
    display: inline-block;
    margin: 0 3px 0 0;
    color: currentColor;
    white-space: nowrap;
}
.counter.comma .counter:last-child:after { content: none; }
.counter.btn { margin-top: 0; margin-bottom: 0; }

.book-profile .title, .book-profile .subtitle { margin-top: 0; margin-left: auto; margin-right: auto; line-height: 130%; }
.book-profile.dark .title, .book-profile.dark .subtitle { font-weight: 300; }
.book-profile .title { font-size: 2.2rem; }
.book-profile .subtitle { font-size: 1.35rem; color: var(--ligthTextColor); }
.book-profile .description, .book-profile .incipit { text-align: justify; }
.book-profile .description { transition: all .2s ease-in-out; }
.book-profile .description.minified { position: relative; max-height: 128px; overflow: hidden; }
.book-profile .description.minified:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: -moz-linear-gradient(top, transparent 0%, var(--cardBackgroundColor) 97%);
    background: -webkit-linear-gradient(top, transparent 0%,var(--cardBackgroundColor) 97%);
    background: linear-gradient(to bottom, transparent 0%,var(--cardBackgroundColor) 97%);
    z-index: 1;
}

.hoverable-items .book:hover .cover { box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px; transform: translateY(-3px); }
.hoverable-items .book:hover .info .title { color: var(--ContrastedTextColor); }
.hoverable-items .book.empty:hover .cover { box-shadow: none; transform: none; border-color: var(--cyan700); color: var(--cyan700); }
.hoverable-items .book.empty:active .cover { border-color: rgba(0,0,0,.3); transform: scale(.95); }
.hoverable-items .book:active .cover { transition-duration: .15s; transform: scale(.95) translateY(0); box-shadow: none; }

/* SHELF */
.shelf + .shelf { margin-top: 20px; }
.shelf-row {
    display: grid;
    grid-template-columns: repeat(var(--booksPerRow-lg), 1fr);
    grid-gap: 20px;
    grid-column-gap: 8px;
    padding-top: 4px;
}
.shelf.collection .info-row { line-height: 26px; margin-bottom: .5rem; }
.shelf.collection .collection-title { font-weight: 400; font-size: 1.1rem; }
.shelf.scrollable {
    position: relative;
    overflow: hidden;
}
.shelf.scrollable:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: var(--bookWidth);
    pointer-events: none;
    background: -moz-linear-gradient(left,transparent 0,var(--cardBackgroundColor) 97%);
    background: -webkit-gradient(left top,right top,color-stop(0,transparent),color-stop(97%,var(--cardBackgroundColor)));
    background: -webkit-linear-gradient(left,transparent 0,var(--cardBackgroundColor) 97%);
    background: -o-linear-gradient(left,transparent 0,var(--cardBackgroundColor) 97%);
    background: -ms-linear-gradient(left,transparent 0,var(--cardBackgroundColor) 97%);
    background: linear-gradient(to right,transparent 0,var(--cardBackgroundColor) 97%);
    z-index: 10;
}
.shelf.scrollable .info-row { position: relative; z-index: 11; }
.scrollable .shelf-row {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: var(--shelf-rowHeight);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.scrollable .shelf-row::-webkit-scrollbar {
    display: none;
    width: 0;
    background: 0 0;
}
.scrollable .shelf-row a, .scrollable .shelf-row .skltn {
    display: inline-block;
    width: calc(var(--bookWidth) + 5px);
    margin-left: 4px;
    margin-right: 4px;
}
.scrollable .shelf-row a:first-child, .scrollable .shelf-row .skltn:first-child { margin-left: 0; }
.scrollable .shelf-row a:last-child, .scrollable .shelf-row .skltn:last-child { margin-right: 0; }

/* BOOK COVER */
.book {
    display: grid;
    justify-items: center;
    min-width: var(--bookWidth);
}
.cover {
    --gutter: 15px;
    position: relative;
    width: 120px;
    height: 180px;
    background-color: var(--cyan700);
    background-size: cover;
    background-position: top center;
    box-shadow: 0 2px 3px rgba(0,0,0,.12);
    overflow: hidden;
    border-radius: 2px;
    color: rgba(0,0,0,.6);
    font-size: 9px;
    line-height: 1.35;
    padding: var(--gutter);
    margin: auto;
    transition: all .2s ease-in-out; 
    will-change: transform, opacity;
    animation: scaleIn .3s ease-out;
}
.book.empty .cover {
    box-shadow: none;
    background-color: transparent;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 4rem;
    color: rgba(0,0,0,.15);
    border: 3px dashed rgba(0,0,0,.15);
}

.cover * {
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .8;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 1%, rgba(0,0,0,0.06) 4%, rgba(255,255,255,0.09) 7%, rgba(255,255,255,0.2) 18%, rgba(255,255,255,0.2) 28%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 1%,rgba(0,0,0,0.06) 4%,rgba(255,255,255,0.09) 7%,rgba(255,255,255,0.2) 18%,rgba(255,255,255,0.2) 28%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 1%,rgba(0,0,0,0.06) 4%,rgba(255,255,255,0.09) 7%,rgba(255,255,255,0.2) 18%,rgba(255,255,255,0.2) 28%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.dark .cover .overlay { opacity: .5; }
.cover .title, .cover .subtitle { white-space: normal; max-height: 65px; margin: 0 0 2px 0; font-weight: 500; font-size: 120%; }
.cover .title { color: #fff; font-size: .8rem; font-weight: 400; }
.cover .author { font-size: 110%; font-weight: 500; }
.cover .publisher { position: absolute; width: auto; left: var(--gutter); right: var(--gutter); bottom: var(--gutter); }
.book .info { text-align: center; font-size: .8rem; width: var(--bookWidth); }
.book .info .title, .book .info .author { display: block; margin: auto; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.book .info .title { margin-top: 8px; font-weight: 400; color: var(--mainTextColor); transition: color .3s ease-in-out; }
.book .info .author { font-size: .7rem; font-weight: 300; color: var(--ligthTextColor); }

/* RATING */
.rating { font-size: 120%; line-height: 1.6; color: #ccc; }
.book .rating { text-align: center; }
.rating-labels { display: inline; }
.react-rater {
    display: inline-block;
    line-height: normal;
    font-size: 23px;
}
.react-rater > * { display: inline-block; }
.react-rater-star {
    cursor: pointer;
    color: rgba(0,0,0,.2);
    position: relative; 
}
.react-rater-star.will-be-active { color: #ffdd99; }
.react-rater-star.is-active { color: #fc6; }
.react-rater-star.is-active-half:before {
    color: #fc6;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden; 
}
.rating .rating-num { /* color: #fc6; */ margin-left: 5px; }
.rating .label { margin-left: 15px; }
/* .user.rating .rating-num { color: var(--cyan700); } */
.react-rater-star.is-disabled { cursor: default; }
.user.rating .react-rater-star.will-be-active { color: var(--cyan600); }
.user.rating .react-rater-star.is-active, .user.rating .react-rater-star.is-active-half:before { color: var(--cyan700); }

.menuitem-book { padding: 5px 0; }
.menuitem-book .primaryText { 
    line-height: 50px; 
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.menuitem-book .primaryText .thumbnail { 
    float: left; 
    width: 25px; 
    height: 40px; 
    margin: 5px 10px 5px 0; 
    vertical-align: middle; 
    animation: scaleIn .2s ease-in-out both;
}
.menuitem-book .secondaryText { 
    line-height: 50px; 
    font-size: .8rem; 
    font-weight: 300;
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--ligthTextColor);
}

/* SKELETONS */
.skltn.shelf-row {
    position: relative;
    height: var(--shelf-rowHeight);
    overflow: hidden;
}
.skltn.shelf-row:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: linear-gradient(90deg, transparent, var(--cardBackgroundColor), transparent) -120px 0;
    background-size: 150px 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    animation: skltn_shelfRow 2.5s infinite ease-in-out;
    z-index: 1;
}
.skltn.book {
    min-width: var(--bookWidth);
    margin: auto;
    width: 100%;
    height: var(--shelf-rowHeight);
    background: 
        linear-gradient(var(--skltn-bg), var(--skltn-bg)) center top, 
        linear-gradient(var(--skltn-bg), var(--skltn-bg)) center 190px,
        linear-gradient(var(--skltn-bg), var(--skltn-bg)) center 209px;
    background-size: 120px 180px, var(--bookWidth) 12px, 90px 11px;
    background-repeat: no-repeat;
    background-origin: content-box;
}

/* MESSAGE */
.message { font-size: 12px; line-height: 12px; color: rgba(0, 0, 0, 0.5); }
.message.alert { color: var(--orange600); }
.message.error { color: var(--red500); }
.message.success { color: var(--green600); }

/* HELPERS */
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.centered { float: none; margin-left: auto; margin-right: auto; }
.show-on-hover, .btn:hover .hide-on-hover { display: none; }
.btn:hover .show-on-hover, .hide-on-hover { display: block; }
.rounded { border-radius: 99px; }
.pull-right {float: right; }

/* ANIMATIONS */
@keyframes scaleIn {
    0% { opacity: 0; transform: scale(.8); } 100% { opacity: 1; transform: scale(1); }
}
@keyframes fadeIn {
    0% { opacity: 0; } 100% { opacity: 1; }
}
@keyframes skltn_shelfRow {
    to { background-position: 120% 0; }
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    :root {
        --booksPerRow-lg: 6;
    }
    .text-align-center-lg { text-align: center; }
}
@media (max-width: 992px) {
    :root {
        --booksPerRow-lg: 4;
    }
    .text-align-center-md { text-align: center; }
}
@media (max-width: 768px) {
    :root {
        --booksPerRow-lg: 3;
    }
    .text-align-center-sm { text-align: center; }
    .book-profile .title { font-size: 1.6rem; }
}
@media (max-width: 576px) {
    :root {
        --booksPerRow-lg: 2;
    }
    .text-align-center-xs { text-align: center; }
}