.book-recommendation {
  max-height: 390px;
  overflow-x: hidden;
  padding: calc(var(--pad) / 2) var(--pad);
}
.contacts-tab .avatar-row { 
  margin-bottom: 0;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border-bottom: 1px solid rgba(var(--blackClr), .1);
  &:last-child { border-bottom: 0; }
}